body{
    background: url(https://t3.ftcdn.net/jpg/07/71/92/06/360_F_771920660_NwciUQNWjexcWJ0GlKpZZC8Bj7vMTrYe.jpg)  no-repeat fixed center;
    background-size: 1520px 800px;
}
.container{
    position: relative;
    background-color: transparent;
    backdrop-filter: blur(5px);
    height: 400px;
    width: 30%;
    left: 550px;
    top: 200px;
    border-radius: 20px;
    border: 1px solid;
    border-color: white;
}
.container h2{
    position: relative;
    color: white;
}
.container input{
    position: relative;
    background-color: transparent;
    height: 40px;
    margin: 10px 0;
    width: 300px;
    border-radius: 50px;
    border: 1px solid;
    border-color: white;
    color: white;
    top: 25px;
    box-sizing: border-box;

}
.container input:hover{
    border-color: aliceblue;
}
.container input::placeholder{
    position: relative;
    color: white;
}
.container button{
    position: relative;
    width: 300px;
    height: 40px;
    top: 40px;
    background-color: transparent;
    border-radius: 50px;
    border: 1px solid;
    border-color: white;
    color: white;
    cursor: pointer;
}
.container1 input{
    position: relative;
    background-color: transparent;
    height: 40px;
    margin: 10px 0;
    width: 300px;
    border-radius: 50px;
    border: 1px solid;
    border-color: white;
    color: white;
    top: 50px;
    box-sizing: border-box;
}
@media screen and (max-width: 992px) {
}
@media screen and (max-width: 600px) {
}